<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue page</title>
    <style></style>
  </head>
  <body>
    <h1>Methods Example</h1>

    <div id="app">
      <p>Adicione Item</p>
      <p>Itme name: <input v-model="name" /></p>
      <p>Itme value: <input v-model="value" /></p>
      <p>
        Important?
        <label>
          <input type="checkbox" v-model="itemImportant" />
          {{ important }}
        </label>
      </p>
      <button @click="addItem(name, value ,itemImportant)">Add Item</button>

      <ul>
        <li v-for="item in listItens">
          <p>{{item.name}} - {{item.value}} - {{item.itemImportant}}</p>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            name: "",
            value: "",
            itemImportant: null,
            listItens: [],
          };
        },
        methods: {
          addItem(name, value, itemImportant) {
            //console.log(name, value, itemImportant);
            this.listItens.push({ name, value, itemImportant });
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
